body {
  margin: 0;
  padding: 0;
  font-family: "Redressed", cursive;
}

.header {
  width: 100%;
  background-color: cornflowerblue;
  height: 200px;
  text-align: center;
  font-size: 3.5em;
  padding: 10px;
}

.content {
  padding: 60px;
  text-align: justify;
}

.content img {
  display: block;
  margin: auto;
}
